<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="fragments/head :: head"></head>
<body>

<h1>Reports</h1>
<nav th:replace="fragments/nav :: nav">
    <h1>Reports</h1>
    <div class="list-group">
        <a href="#" class="list-group-item list-group-item-action active">Category</a>
        <a href="#" class="list-group-item list-group-item-action">User</a>
        <a href="#" class="list-group-item list-group-item-action disabled">Month</a>
        <a href="#" class="list-group-item list-group-item-action disabled">Year</a>
    </div>
</nav>
<table>
    <thead>
    <tr>Category</tr>
    <tr>Year</tr>
    <tr>Month</tr>
    <tr>User</tr>
    </thead>
</table>
</body>
</html>