<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<head th:replace="fragments/head :: head"></head>
<body>
    <nav th:replace="fragments/nav :: nav"></nav>

<main>

    <div class="card text-white bg-primary mt-4" style="max-width: 50%; margin: auto;">
        <div class="card-header">Your Personal Budget Assistant</div>
        <div class="card-body">
            <p class="card-text">Budget Buddy is your go-to application for managing your personal finances effortlessly.
                Track your expenses, categorize your transactions, and stay on top of your budget with ease.
                Whether you’re planning for a special purchase, saving for a vacation, or simply managing your day-to-day finances,
                Budget Buddy offers the tools you need to make informed financial decisions.</p>
        </div>
    </div>
</main>
</body>
</html>


